@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json
@using MudBlazor
@using System.Text.Json.Nodes
@implements IAsyncDisposable
@inject HttpClient Http
@inject IDialogService DialogService

<PageTitle>Index</PageTitle>

<h1>Live Health Checks!</h1>

<div class="row">
    <div class="col-8">
        <MudText Typo="Typo.h2"><span style="color:green">Healthy</span> vs <span style="color:red">Unhealthy</span></MudText>
    </div>
    <div class="col-4" style="float:right;">
        <MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
            Search
        </MudButton>
    </div>
</div>

@if(DashboardSettings != null)
{
    var apis = DashboardSettings.Apis;

    @for (int i=0; i < apis.Count; i=i+2)
    {
        var api1 = apis.ElementAtOrDefault(i);
        var api2 = apis.ElementAtOrDefault(i + 1);
        var api3 = apis.ElementAtOrDefault(i + 2);

        @if (Connection != null)
        {
            <div class="row">
                <div class="col-4">
                    @if (api1 != null)
                    {
                        <ApiWidget
                            Api="api1"
                            Connection="Connection"
                        ></ApiWidget>    
                    }
                </div>                
                <div class="col-4">
                    @if (api2 != null)
                    {
                        <ApiWidget
                            Api="api2"
                            Connection="Connection"
                        ></ApiWidget>
                    }
                </div>
                <div class="col-4">
                    @if (api3 != null)
                    {
                        <ApiWidget
                            Api="api3"
                            Connection="Connection"
                        ></ApiWidget>
                    }
                </div>
            </div>            
        }        
    }   
}

@code {

    public int SelectedIndex = -1;

    HubConnection? Connection = null;

    private DashboardSettings? DashboardSettings;

    private void OpenDialog()
    {
        var options = new DialogOptions 
        { 
            CloseOnEscapeKey = true, 
            MaxWidth = MaxWidth.ExtraExtraLarge,
            Position = DialogPosition.Center,
            CloseButton = true
        };
        DialogService.Show<SearchDialog>("Search", options);
    }

    protected override async Task OnInitializedAsync()
    {       
        try
        {
            DashboardSettings = await Http.GetFromJsonAsync<DashboardSettings>("dashboardSettings.json");        

            Connection = new HubConnectionBuilder()
                               .WithUrl(DashboardSettings.ServerUrl)
                               .WithAutomaticReconnect()
                               .Build();

            await Connection.StartAsync();

            await Connection.SendAsync("AuthenticateAsync", new MyHealthCheckAuthModel
            {
                ReceiveMethod = DashboardSettings.ServerReceiveMethod,
                SecretKey = DashboardSettings.ServerSecretKey,
                ClientId = DashboardSettings.ServerClientId
            });            
        }
        catch(Exception ex)
        {

        }     
    }

    public async ValueTask DisposeAsync()
    {
        if (Connection != null)
        {
            await Connection.SendAsync("DisconnectAsync");
            await Connection.DisposeAsync();
        }        
    }
}
