@using MudBlazor
@using LiveHealthChecks.UI.Models

<MudDialog>
    <DialogContent>
        @if (HealthCheck != null)
        {
            <div style="min-width: 300px; min-height:300px;">
                <ViewWidget 
                    HealthCheck="HealthCheck"
                ></ViewWidget>
            </div>            
        }
    </DialogContent>
    <DialogActions>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public HealthCheck? HealthCheck { get; set; }
}
